/* UI Styles */
h1{
	font-family: 'Press Start 2P', cursive;
	display: inline-block;
	position:absolute;
	font-size:1.3em;
	top: 0;
	left:1000px;
	line-height:1.5em;
}

h2{
	font-family: 'Press Start 2P', cursive;
	display: inline-block;
	position:absolute;
	font-size:1.3em;
	top: 100px;
	left:1000px;
	line-height:1.5em;
}

p{
	font-family: 'Press Start 2P', cursive;
	display: inline-block;
	position: absolute;
	font-size: 1em;
	top: 650px;
	left: 10px;
}

div#gridContainer{
	top:5px;
	left:5px;
	padding:0;
	display:inline-block;
	position:absolute;
	z-index: 0; /* underneath everything */
}


/* Background Tile Styles */
span.floor{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
}

span.wall{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
	background-position: -32px -32px;
}

span.grass{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
	background-position: -64px -64px;
}

span.water{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
	background-position: -96px -96px;
}

span.ground{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
	background-position: -128px -128px;
}

span.mdoor{
	width:32px;
	height:32px;
	background: url(../images/IGME235Proj3DoorKey.png);
	background-position: -0px -0px;
}

span.bdoor{
	width:32px;
	height:32px;
	background: url(../images/IGME235Proj3DoorKey.png);
	background-position: -32px -32px;
}

span.rdoor{
	width:32px;
	height:32px;
	background: url(../images/IGME235Proj3DoorKey.png);
	background-position: -64px -64px;
}

span.cell{
	height:32px;
	width:32px;
	border: 1px solid #333; /* actual width & height is 32px because of border */
	background-color: #ccc;
	padding:0;
	margin:0;
	position:absolute;
}

span.cellSelected{
	height:32px;
	width:32px;
	border:0;
	background-color: red;
	padding:0;
	margin:0;
	position:absolute;
}


/* Game Object Styles */
span.gameObject{
	height:32px;
	width:32px;
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 100; /* layered between background tiles and player */
	background-color:black;
	background: url(../images/nethack-32x32.png);
}

span.chest1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -1088px -288px;
}

span.mkey1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background: url(../images/IGME235Proj3DoorKey.png);
	background-position: -96px -96px;
}

span.bkey1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background: url(../images/IGME235Proj3DoorKey.png);
	background-position: -128px -128px;
}

span.rkey1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background: url(../images/IGME235Proj3DoorKey.png);
	background-position: -160px -160px;
}

span.monster1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -96px -32px;
}

span.monster2{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -192px -128px;
}

span.monster3{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -192px -224px;
}

/* player style */
span.player{ 
	background: url(../images/nethack-32x32.png);
	background-position: -96px -96px;
	z-index: 1000; /* On top of everything */
	transition-property: all;
	transition-duration: .25s;
}

span.potion1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -768px -512px;
}

span.sword1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -576px -320px;
}

#gameOverMessage
{
	display: none;
	font-size: 32px;
	color: red;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

#gameWinMessage
{
	display: none;
	font-size: 32px;
	color: green;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}